body {
	margin: 0;
	background-color: rgb(250, 245, 250);
	display: flex;
	color: rgb(20, 20, 20);
	font-family: monospace;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;
}

.board {
	padding: 2rem;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.board__season {
	margin-bottom: 1rem;
	text-decoration: underline;
	text-align: center;
}

.scoreboard {
	padding: 2rem;
	flex-basis: 0;
	white-space: nowrap;
}

.scoreboard__country {
	position: relative;
	counter-reset: score 0;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
}

.scoreboard__country--eliminated::after {
	content: "";
	position: absolute;
	top: 0.5rem;
	left: 0;
	height: 0.1rem;
	width: 100%;
	background-color: black;
}

.scoreboard__centers {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.scoreboard__centers::after {
	content: "(" counter(score) ")";
	position: absolute;
	top: 0;
	right: 0;
}

.scoreboard__centers li {
	counter-increment: score;
}

@media (max-width: 1000px) {
	body {
		flex-direction: column;
	}

	.scoreboard {
		column-count: 2;
		column-gap: 3rem;
		column-rule: 1px solid black;
	}

	.scoreboard__country {
		break-inside: avoid;
	}
}

@media (max-width: 500px) {
	.scoreboard {
		column-count: 1;
	}
}
